body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    /* background: white; */
    position: sticky;
    top: 0;
}

form {
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ... other styles ... */
.table-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
    max-width: fit-content;
    width: fit-content;
}
