<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans %}Stock Management{% endtrans %}</title>
    <link rel="stylesheet" href="/static/stock_manager.css">
</head>

<body>
    <h1>{% trans %}Stock Management{% endtrans %}</h1>
    <form action="/" method="GET">
        <button type="submit">{% trans %}Back to Invoice{% endtrans %}</button>
    </form>
    <form action="/stock/add" method="POST">
        <h3>{% trans %}Add Product{% endtrans %}</h3>
        <label for="product_name">{% trans %}Product Name:{% endtrans %}</label>
        <input type="text" id="product_name" name="product_name" required>

        <label for="price">{% trans %}Price:{% endtrans %}</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <label for="start_quantity">{% trans %}Start Quantity:{% endtrans %}</label>
        <input type="number" id="start_quantity" name="start_quantity" required min="1">

        <button type="submit">{% trans %}Add Product{% endtrans %}</button>
    </form>

    <div class="table-container">
        <h3>{% trans %}Current Stock{% endtrans %}</h3>
        <table>
            <thead>
                <tr>
                    <th>{% trans %}Product Id{% endtrans %}</th>
                    <th>{% trans %}Product Name{% endtrans %}</th>
                    <th>{% trans %}Price{% endtrans %}</th>
                    <th>{% trans %}Start Quantity{% endtrans %}</th>
                    <th>{% trans %}Sold Quantity{% endtrans %}</th>
                    <th>{% trans %}Total Amount Sold{% endtrans %}</th>
                    <th>{% trans %}Current Quantity{% endtrans %}</th>
                    <th>{% trans %}Total Amount Current{% endtrans %}</th>
                    <th>{% trans %}Invoices{% endtrans %}</th>
                    <th>{% trans %}Update{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}</td>
                    <td>{{ product[5] }}</td>
                    <td>{{ product[6] }}</td>
                    <td>{{ product[7] }}</td>
                    <td>{{ product[8] }}</td>
                    <td>
                        <button class="update-btn" data-product-id="{{ product[0] }}" data-product-name="{{ product[1] }}"
                            data-price="{{ product[2] }}" data-start-quantity="{{ product[3] }}">{% trans %}Update{% endtrans %}</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">{% trans %}Totals:{% endtrans %}</td>
                    <td>{{ total_quantity_sold }}</td>  <!-- Total Sold Amount -->
                    <td>{{ total_amount_sold }}</td> <!-- Total Current Quantity -->
                    <td>{{ total_quantity_current }}</td> <!-- Total Current Amount -->
                    <td>{{ total_amount_current }}</td> <!-- Total Current Amount -->
                    <td colspan="2"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="updatePopup" class="popup">
        <form id="updateForm" method="POST">
            <h3>{% trans %}Update Product{% endtrans %}</h3>
            <input type="hidden" name="product_id" id="productId">
            <label for="productName">{% trans %}Product Name:{% endtrans %}</label>
            <input type="text" id="productName" name="product_name" required><br><br>

            <label for="productPrice">{% trans %}Price:{% endtrans %}</label>
            <input type="number" id="productPrice" name="price" step="0.01" required><br><br>

            <label for="productStartQuantity">{% trans %}Start Quantity:{% endtrans %}</label>
            <input type="number" id="productStartQuantity" name="start_quantity" required><br><br>
            
            <button type="submit">{% trans %}Update{% endtrans %}</button>
            <button type="button" id="closePopup">{% trans %}Close{% endtrans %}</button>
        </form>
    </div>

    <form action="/stock/export" method="GET">
        <button type="submit">{% trans %}Export Stock{% endtrans %}</button>
    </form>

    <script>
        const updateButtons = document.querySelectorAll('.update-btn');
        const popup = document.getElementById('updatePopup');
        const closePopupButton = document.getElementById('closePopup');
        const updateForm = document.getElementById('updateForm');
        const productIdInput = document.getElementById('productId');
        const productNameInput = document.getElementById('productName');
        const productPriceInput = document.getElementById('productPrice');
        const productStartQuantityInput = document.getElementById('productStartQuantity');


        updateButtons.forEach(button => {
            button.addEventListener('click', () => {
                productIdInput.value = button.dataset.productId;
                productNameInput.value = button.dataset.productName;
                productPriceInput.value = button.dataset.price;
                productStartQuantityInput.value = button.dataset.startQuantity;

                updateForm.action = `/stock/update/${button.dataset.productId}`;
                popup.style.display = 'block';
            });
        });

        closePopupButton.addEventListener('click', () => {
            popup.style.display = 'none';
        });

    </script>

</body>

</html>