<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management</title>
    <link rel="stylesheet" href="/static/stock_manager.css">

</head>

<body>
    <h1>Stock Management</h1>

    <!-- Add Product Form -->
    <form action="/stock/add" method="POST">
        <h3>Add Product</h3>
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <label for="start_quantity">Start Quantity:</label>
        <input type="number" id="start_quantity" name="start_quantity" required min="1">

        <button type="submit">Add Product</button>
    </form>

    <!-- Stock Table -->
    <h3>Current Stock</h3>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Start Quantity</th>
            <th>Sold Quantity</th>
            <th>Total Amount Sold</th>
            <th>Current Quantity</th>
            <th>Total Amount Current</th>
            <th>Invoices</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>
            <td>{{ product[6] }}</td>
            <td>{{ product[7] }}</td>
            <td>
                <form action="/stock/update/{{ product[0] }}" method="POST" style="display:inline;">
                    <label for="price">Price:</label>
                    <input type="number" name="price" step="0.01" value="{{ product[2] }}" required>
                    <label for="start_quantity">Start Quantity:</label>
                    <input type="number" name="start_quantity" value="{{ product[3] }}" required>
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Export Button -->
    <form action="/stock/export" method="GET">
        <button type="submit">Export Stock</button>
    </form>

    <!-- Back Button -->
    <form action="/" method="GET">
        <button type="submit">Back to Invoice</button>
    </form>
</body>

</html>